<title>Watson on You</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<!--facebook og tags-->
<!-- TODO: run the site thru the facebook debugger to cache site images : https://developers.facebook.com/tools/debug/ -->
<meta property="fb:app_id"      content="">
<meta property="og:title"       content="Watson on You" />   <!-- TODO: title -->
<meta property="og:description" content="" />   <!-- TODO: description -->
<meta property="og:url"         content="" />   <!-- TODO: canonical url -->
<meta property="og:type"        content="website" />   <!-- TODO: website or article -->
<meta property="og:site_name"   content="" />   <!-- TODO: website name (not url) -->
<meta property="og:image"       content="" />   <!-- TODO: max file size = 8MB | min = 600 x 315px | high res min = 1200 x 630px -->
<meta property="og:image"       content="" />
<meta property="og:image"       content="" />
<meta property="og:image"       content="" />

<!--twitter og tags-->
<!-- TODO: run the site thru the twitter card validator to cache site images : https://cards-dev.twitter.com/validator -->
<meta name="twitter:account_id" content="" />
<meta name="twitter:title"      content="" />   <!-- TODO: Title max 70 characters -->
<meta name="twitter:description" content="" />   <!-- TODO: Description max 200 characters -->
<meta name="twitter:site"       content="" />   <!-- TODO: @username -->
<meta name="twitter:card"       content="" />   <!-- TODO: summary or summary_large_image -->
<meta name="twitter:image"      content="" />   <!-- TODO: max file size: > 1MB | summary (min): 120 x 120px | summary_large_image (min): 280 x 150px -->
<meta name="twitter:image"      content="" />
<meta name="twitter:image"      content="" />
<meta name="twitter:image"      content="" />
<meta name="twitter:creator"    content="">
<meta name="twitter:domain"     content="">


<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

<!-- mobile webapp images -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href=''/>    <!-- TODO: size 57x57px -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href=''/>    <!-- TODO: size 72x72px -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href=''/>  <!-- TODO: size 114x114px -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href=''/>  <!-- TODO: size 144x144px -->
<link rel="apple-touch-icon-precomposed" sizes="250x250" href=''/>  <!-- TODO: size 250x250px -->

<meta property="og:video" content="" />
<meta property="og:video:width" content="1920" />
<meta property="og:video:height" content="1080" />
<meta property="og:video:type" content="video/webm" />